<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ycp.cs482.workoutassistant" >

    <!-- Min API Version : 15 (Android 4.0.3) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewWOListActivity"
            android:label="@string/title_activity_workout_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ycp.cs482.workoutassistant.MainActivity" />
        </activity>
        <activity
            android:name=".DBTestActivity"
            android:label="@string/title_db_test"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ycp.cs482.workoutassistant.MainActivity" />
        </activity>

        <provider
            android:name=".provider.woAppContentProvider"
            android:authorities="edu.ycp.cs482.workoutassistant.provider.woAppContentProvider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".ViewWOActivity"
            android:label="@string/title_activity_view_wo"
            android:parentActivityName=".ViewWOListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewWOListActivity" />
        </activity>
    </application>

</manifest>
